# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# compiled header files
*.gch
*.d

# gedit backup
*~

#compiled binary file
myDraw
input
out

#obj directory
obj/
